*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    width: 100%;
    height:100vh;
    background-color: #6cf6cc94;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 500px;
    height: 600px;
    background-color: rgb(251, 249, 249);
    border-radius: 4px;
    padding: 15px;
}
.box__title {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 70px;
}
.todo__field{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 3px gray;
    font-weight: bold;
    display: block;
}
.todo__list {
    list-style: none;
    margin-top: 10px;
    margin-left: 2px;
}
.message {
    position: relative;
    background-color: #f2dc36;
    color: #0a096b;
    padding: 10px;
    padding-right: 10px;
    text-align: justify;
    border-radius: 4px;
    margin-top: 10px;
    user-select: none;
    white-space: initial;
    text-align: center;
}
.message__button-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.task.is-done{
    text-decoration: line-through;
    color: black;
    background-color: #f5e779 !important;
}

/* .btn{
    position: relative;
    width: 80px;
    height: 35px;
    font-weight: bolder;
    padding: 2px;
    background-color: red;
    color: black;
    margin-left: 193px;
    margin-top: 10px;
    margin-bottom: 10px;
} */
